body{
    font-family: 'Roboto', sans-serif;
    background-color: #eef9bf;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h1{
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;

    margin: 45px 0;
}
main{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
main .cards-section{
    width: 95%;
    height: 85%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
main .card{
    width: 117px;
    height: 146px;

    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;

    position: relative;

}
main .card img{
    height: 100px;
    width: 100px;

    position: absolute;
    z-index: 0;

    backface-visibility: hidden;
    transition: all .6s;
    transform-style: preserve-3d;

}
.back-face{
    transform: rotateY(180deg);
}
main .front-card img{
    width: 117px;
    height: 146px;
    position: absolute;
    z-index: 3;
}
@media(max-width:1200px){
    main .card-sections{
        height: 90%;
        justify-content: space-around;
    }
    section h1{
        text-align:center;
    }
}